<beans:beans 
	xmlns="http://www.springframework.org/schema/security" 
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

 
	<http auto-config="true">
		 
		<!-- it allows to create only 1 session for each user : see web.xml's listener -->
		<!-- 
		<session-management>
        	<concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
    	</session-management>
    	 -->
    	 
		<intercept-url pattern="/dashboard/**" access="ROLE_ADMIN, ROLE_RW, ROLE_RO" requires-channel="any"/> 	<!-- requires-channel can have a value between any, https, http -->
		<intercept-url pattern="/a/**" access="ROLE_ADMIN" requires-channel="any"/>
		
		<form-login always-use-default-target="true"
			login-page="/login" 
			default-target-url="/dashboard/"
			authentication-failure-url="/loginFailed"
			authentication-success-handler-ref="authenticationSuccessHandler" />
			
		<logout logout-success-url="/logout" invalidate-session="true" delete-cookies="JSESSIONID"/>
	</http>
	
	<beans:bean id="authenticationSuccessHandler" class="com.luuf.core.spring.auth.AuthenticationSuccessHandler"/> 
	
	<beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	
	<authentication-manager>
		<authentication-provider user-service-ref='userAuthImpl'>
			<password-encoder ref="bcryptEncoder"/>
	  	</authentication-provider>
	</authentication-manager>

	<beans:bean id="userAuthImpl" class="com.luuf.core.spring.auth.UserAuthImpl">
		<beans:property name="dataSource" ref="dataSource"/>
		<beans:property name="usersByUsernameQuery">
			<beans:value>
				SELECT PRINCIPAL, PASSWORD, ENABLED
				FROM   USER
				WHERE  EMAIL_CRC = ? AND EMAIL = ? 
			</beans:value>
		</beans:property>
		<beans:property name="authoritiesByUsernameQuery">
			<beans:value>
				SELECT PRINCIPAL, AUTHORITIES
				FROM USER_AUTHORITIES
				WHERE PRINCIPAL = ?
			</beans:value>
		</beans:property>
	</beans:bean>
	
</beans:beans>
